@import "bootstrap";

$bbc-red-color: #bb1919;

.masthead {
	height: 100px;
	background-color: $bbc-red-color;
}

.section-label {
	color: $bbc-red-color;
}

.masthead {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

img {
	@extend .mb-3;
	width: 100%;
}

.title {
  font-size: 28px;
}

@include media-breakpoint-up(md) {
  .title {
    font-size: 36px;
  }
}

@include media-breakpoint-up(lg) {
  .title {
    font-size: 44px;
  }
}
